@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #4d4d4d;
    font-weight: 400;
}


#background{
    background-image: url("./assets/main/background.png");
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 0;
}

#text_xxs{
    font-size: 8px;
}

.btnIcons, .ratingsImg{
    width: 20px;
    height: auto;
}

@media (max-width: 414px){
    #text_xxs{
        font-size: 6px;
    }
    #developer{
        font-size: 10px;
    }
}

@media (max-width: 1024px) {
    .btnIcons{
        width: 16px;
    }
}